{% load bootstrap4 %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block content %}​
<style>
    div{
        text-align: center;
    }
    input{
        width: 20%;
    }
    select{
        width: 20%;
    }
    form{
        width: 80%;
        margin: 5%;
    }
</style>

<div>
<form action="{% url 'add_event' %}" enctype="multipart/form-data" method="post">​

{% csrf_token %}​

{{ form.as_p }}​

<input type="submit" value="add" />​

</form>​
</div>
{% endblock %}​